<div class="container-fluid container-fluid-custom py-md-5 mb-5">
    <main>
         <div class="row py-md-5 text-center justify-content-center">

            <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
                <h1 class="display-8 fw-bold mb-4 position-relative home-title">
                    About 
                </h1>
                <p class="fs-4 mb-4">
                   Notera is more than just a notes app, it's your personal space for capturing ideas, 
                    staying organized, and unlocking your creativity. Our mission is to simplify the note-taking experience 
                    while providing a powerful tool that adapts to your unique needs. 
                </p>
                <a href="/" class="btn btn-primary btnlg">go back to home </a>
            </div>
         </div>
    </main>
</div>