<div class="container-fluid container-fluid-custom py-md-5 mb-5">
    <main>
         <div class="row py-md-5 text-center justify-content-center">

            <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
                <h1 class="display-2 fw-bold mb-4 position-relative home-title">
                    ERROR 404 ! :what are u looking for 
                </h1>
                <p class="fs-4 mb-4">
                    u should not be in this page 
                </p>
                <a href="/" class="btn btn-primary btnlg">go back to home </a>
            </div>
         </div>
    </main>
</div>