<div class="container-fluid container-fluid-custom py-md-5 mb-5">
    <main>
         <div class="row py-md-5 text-center justify-content-center">

            <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
                <h1 class="display-3 fw-bold mb-4 position-relative home-title">
                    write yout toughtd down as they come to you
                </h1>
                <p class="fs-4 mb-4">
                    this is a free note taking app created by houssam using mongoDB and nodejs
                </p>
                <a href="/auth/goole" class="btn btn-primary btnlg">Try Notes, it's FREE!</a>
            </div>
         </div>
    </main>
</div>